@charset "utf-8";
/* CSS Document */

body{
	font-family: "Microsoft YaHei UI", "Microsoft YaHei", "Arial Narrow", "Arial";
}

.main1{
	width: 1280px;
	height: 758px;
}

.main1 .div1 .pingying{
	font-size: 20px;
	margin-left: 204px;
	margin-top: 76px;
	line-height: 20px;
	letter-spacing: 4px;
}

.main1 .div1 .title_1{
	font-size: 48px;
	margin-top: 44px;
	margin-left: 498px;
	line-height: 48px;
}

.main1 .div2{
	margin-top: 35px;
	width: 1280px;
}

.main1 .div2 .pic1{
	margin-left: 204px;
	width:415px;
	height: 227px;
	float: left;
	/*position: absolute;*/
}

.main1 .div2 .text1{
	margin-left: 42px;
	float: left;
	font-size: 24px;
	line-height: 35px;
	/*position: absolute;*/
}

.main1 .div3{
	width: 1280px;
	margin-top: 227px;
	position: absolute;
}

.main1 .div3 .text2{
	margin-left: 156px;
	float: left;
	font-size: 18px;
	line-height: 36px;
}

.main1 .div2 .pic2{
	margin-left: 7px;
	width:536px;
	height: 231px;
	float: left;
}


.main2{
	width: 1280px;
	height: 712px;
	position: relative;
}

.main2 .pic1{
	width:265px;
	height: 176px;
	margin-left: 202px;
	margin-top: 71px;
	position: absolute;
}

.main2 .pic2{
	width:115px;
	height: 114px;
	margin-left: 489px;
	margin-top: 42px;
	position: absolute;
}

.main2 .pic3{
	width:133px;
	height: 84px;
	margin-left: 642px;
	margin-top: 147px;
	position: absolute;
}

.main2 .pic4{
	width:277px;
	height: 198px;
	margin-left: 817px;
	margin-top: 125px;
	position: absolute;
}

.main2 .pic5{
	width:476px;
	height: 314px;
	margin-left: 194px;
	margin-top: 267px;
	position: absolute;
}

.main2 .text{
	font-size: 18px;
	line-height: 31px;
	margin-top: 357px;
	margin-left: 733px;
	position: absolute;
}

.main2 .pic6{
	width:145px;
	height: 101px;
	margin-left: 723px;
	margin-top: 535px;
	position: absolute;
}

.main2 .pic7{
	width:150px;
	height: 110px;
	margin-left: 918px;
	margin-top: 526px;
	position: absolute;
}


.main3{
	width: 1280px;
	height: 753px;
	position: relative;
}

.main3 .pic1{
	width:182px;
	height: 179px;
	margin-left: 408px;
	margin-top: 82px;
	position: absolute;
}

.main3 .pic2{
	width:429px;
	height: 319px;
	margin-left: 621px;
	margin-top: 87px;
	position: absolute;
}

.main3 .text{
	font-size: 18px;
	line-height: 32px;
	margin-top: 278px;
	margin-left: 214px;
	position: absolute;
}

.main3 .pic3{
	width:382px;
	height: 232px;
	margin-left: 231px;
	margin-top: 444px;
	position: absolute;
}

.main3 .pic4{
	width:384px;
	height: 230px;
	margin-left: 639px;
	margin-top: 438px;
	position: absolute;
}


.main4{
	position: relative;
	width: 1280px;
	height: 666px;
}

.main4 .title{
	font-size: 48px;
	position: absolute;
	margin-top: 50px;
	margin-left: 436px;
	text-align: center;
}

.main4 .text{
	font-size: 18px;
	line-height: 28px;
	margin-top: 153px;
	margin-left: 170px;
	float:left;
}

.main4 .pic{
	width:583px;
	height: 407px;
	margin-top: 153px;
	margin-left: 22px;
	float:left;
}


.main5{
	width: 1280px;
	height: 354px;
}

.main5 .t1{
	font-size: 60px;
	line-height: 60px;
	color: #de6f44;
	margin-left:253px;
	margin-top:88px;
}

.main5 .t2{
	font-size: 36px;
	line-height: 36px;
	margin-left: 422px;
	margin-top: 39px;
}

.main5 .t3{
	font-size: 36px;
	line-height: 36px;
	margin-left: 441px;
	margin-top: 24px;
}


.main_4{
	height:170px;
	text-align: center;
	width: 1280px;
}

.main_4 .tail{
	font-size: 14px;
	margin-top: 38px;
	line-height: 18px;
	text-align: center;
	color: grey;
}

